# Environment Variables Template
AWS_REGION=us-east-1
PROJECT_NAME=smart-parking-fyp
SLOT_STATE_TABLE=smart-parking-fyp-ParkingSlotState
EVENTS_TABLE=smart-parking-fyp-ParkingEvents
REPORTS_BUCKET=smart-parking-fyp-reports-account-region
LAB_ROLE_ARN=arn:aws:iam::123456789012:role/LabRole
